fastapi
sqlalchemy
pydantic
uvicorn
databases
sqlalchemy-utils  # Facultatif si vous utilisez des types de colonnes spécifiques
pytz  # Facultatif si vous gérez des fuseaux horaires
passlib  # Facultatif si vous utilisez le hachage de mot de passe
fastapi-cors

